<div class="container">
  <p>
    Company
  </p>
  <app-boss></app-boss>
  <app-employee></app-employee>
  <div>
    Change work time 
    <input type="text" #newWorkTime>
    <input type="submit" value="send" (click)="changeWorkTime(newWorkTime.value)">
  </div>
</div>
